<?xml version="1.0" encoding="utf-8" standalone="no"?>
<!--log4net settings file.-->
<log4net>
  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
    <file value="wrr.log" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <param name="StaticLogFileName" value="true"/>
    <appendToFile value="true" />
    <param name="RollingStyle" value="Date"/>
    <param name="DatePattern" value="yyyy-MM-dd"/>
    <layout type="log4net.Layout.PatternLayout">
      <header value="%newlineSTART [%date]%newline" type="log4net.Util.PatternString"/>
      <footer value="END [%date]%newline" type="log4net.Util.PatternString" />
      <conversionPattern value="%level [%date][%thread]  - %message%newline"/>

    </layout>
  </appender>

  <logger name="WorkReportReminder">
    <level value="ALL" />
    <appender-ref ref="RollingLogFileAppender" />
  </logger>
</log4net>